/**
 * ActionSheet模块
 * loading > datetimepicker > layerbox > actionsheet > logicbox > framebox
 * @file loading.css
 */
.mod-actionsheet{
	position: fixed;
	left: 0;
	width: 100%;
}
.mod-actionsheet-mask{
	top: 0;
	height: 100%;
	z-index: 59996;
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-transition: background-color 0.4s ease;
			transition: background-color 0.4s ease;
}
.mod-actionsheet-panel{
	bottom: 0;
	z-index: 59997;
	background-color: #fff;
	font-size: .32rem;
	-webkit-transform: translate(0, 0) translateZ(0);
			transform: translate(0, 0) translateZ(0);
	-webkit-transition: -webkit-transform 0.4s ease;
			transition: 		transform 0.4s ease;
}
.mod-actionsheet-mask.exit{
	-webkit-transition: background-color 0.4s ease, left 0.1s ease 0.4s;
			transition: background-color 0.4s ease, left 0.1s ease 0.4s;
	background-color: rgba(0, 0, 0, 0);
	left: 10000px;
}
.mod-actionsheet-panel.exit{
	-webkit-transition: -webkit-transform 0.4s ease, left 0.1s ease 0.4s;
			transition: 		transform 0.4s ease, left 0.1s ease 0.4s;
	-webkit-transform: translate(0, 100%) translateZ(0);
			transform: translate(0, 100%) translateZ(0);
	left: 10000px;
}

.mod-actionsheet-panel.sheetmenu{
	text-align: center;
	background-color: #F8F8F8;
}

.mod-actionsheet-panel.sheetmenu .sheetmenu-group{
	list-style: none;
	margin-top: .12rem;
	background-color: #fff;
	text-align: center;
}
.mod-actionsheet-panel.sheetmenu .sheetmenu-group.large-spacing{
	margin-top: .24rem;
}
.mod-actionsheet-panel.sheetmenu .sheetmenu-item,
.mod-actionsheet-panel.sheetmenu .sheetmenu-item.normal{
	height: .72rem;
	line-height: .72rem;
	border-top: 1px solid #F8F8F8;
	color: #333;
	cursor: pointer;
}
.mod-actionsheet-panel.sheetmenu .sheetmenu-item:active{
	background-color: #e8e8e8;
}
.mod-actionsheet-panel.sheetmenu .sheetmenu-item.disable{
	color: #fefefe!important;
	background-color: #d5d5d5!important;
	cursor: not-allowed!important;
}
.mod-actionsheet-panel.sheetmenu .sheetmenu-item.disable:active{
	background-color: #d5d5d5!important;
}
.mod-actionsheet-panel.sheetmenu .sheetmenu-item.strong{
	color: #fff;
	background-color: #0094f8;
}
.mod-actionsheet-panel.sheetmenu .sheetmenu-item.strong:active{
	background-color: #49b6ff;
}
.mod-actionsheet-panel.sheetmenu .sheetmenu-item.danger{
	color: #fff;
	background-color: #e20024;
}
.mod-actionsheet-panel.sheetmenu .sheetmenu-item.danger:active{
	background-color: #e2415a;
}
.mod-actionsheet-panel.sheetmenu .sheetmenu-item.weak{
	color: #333;
	background-color: #e5e5e5;
}
.mod-actionsheet-panel.sheetmenu .sheetmenu-item.weak:active{
	background-color: #e0e0e0;
}
.mod-actionsheet-panel.sheetmenu .sheetmenu-group:first-child,
.mod-actionsheet-panel.sheetmenu .sheetmenu-group.none-spacing{
	margin-top: inherit;
}
.mod-actionsheet-panel.sheetmenu .sheetmenu-item:first-child,
.mod-actionsheet-panel.sheetmenu .sheetmenu-item.none-border{
	border-top: inherit;
}

.mod-actionsheet-panel.sheetbox{
	background-color: #FFF;
	text-align: inherit;
}
