/**
 * 数据设置/表单项
 * @style settings.css
 */
/*基础样式*/
.mod-settings-frame{
    width: 100%;
    font-size: .28rem;
}
.mod-settings-groups{

}
.mod-settings-group{
    margin-bottom: 16px;
}
.mod-settings-caption{
    min-height: .64rem;
    font-size: .32rem;
}
.mod-settings-caption .icofont{
    vertical-align: middle;
}
.mod-settings-caption > i{
    float: left;
    margin-left:0.4em;
    cursor: move;
}
.mod-settings-caption > span{
    margin-left:0.4em;
  -webkit-box-flex: 1;        
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
}
.mod-settings-caption > em{
    float: right;
    margin: 0 0.4em;
    cursor: pointer;
}
.mod-settings-caption > del{
    text-decoration: none;
    float: right;
    margin-right: 0.4em;
    cursor: pointer;
}
.mod-settings-caption > del:hover{
    color: #f00;
}
.mod-settings-items{

}
.mod-settings-item{
    margin-top: 8px;
    padding: 0 8px;
}
.mod-settings-item dt{
    width: 20%;
    float: left;
    min-height: .64rem;
}
.mod-settings-item dd{
    width: 80%;
    min-height: .64rem;
    float: right;
}
.mod-settings-item dd input{
    width: 100%;
    height: .48rem;
    outline: none;
    padding: 0 3px;
    border: 1px solid #ccc;
    margin-top: 4px;
}
.mod-settings-item dd input[type="checkbox"],
.mod-settings-item dd input[type="radio"]{
    width: inherit;
    vertical-align: middle;
    margin-top: -1px;
}
.mod-settings-item dd input[type="file"]{
    border: inherit;
}
.mod-settings-item dd input[type="range"]{
    height: inherit;
    padding: inherit;
    margin: 5px 0;
    outline: none;
    border-radius: 3px;
    -webkit-appearance: none;
            appearance: none;
}
.mod-settings-item dd input[type="range"]:focus{
    outline: none;
}
.mod-settings-item dd input[type="range"]::-webkit-slider-runnable-track{
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: #ccc;
    border-radius: 3px;
    border: none;
    -webkit-appearance: none;
            appearance: none;
}
.mod-settings-item dd input[type="range"]::-moz-range-track{
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: #ccc;
    border-radius: 3px;
    border: none;
    -webkit-appearance: none;
            appearance: none;
}
.mod-settings-item dd input[type="range"]::-webkit-slider-thumb{
    border: 1px solid #bbb;
    height: 12px;
    width: 12px;
    margin-top: -6px;
    border-radius: 12px;
    background: #ccc;
    cursor: pointer;
    box-shadow: 0 0 3px #666;
    -webkit-appearance: none;
            appearance: none;
}
.mod-settings-item dd input[type="range"]::-moz-range-thumb{
    border: 1px solid #bbb;
    height: 16px;
    width: 16px;
    margin-top: -8px;
    border-radius: 16px;
    background: #ccc;
    cursor: pointer;
    box-shadow: 0 0 3px #666;
    -webkit-appearance: none;
            appearance: none;
}
.mod-settings-item dd input[type="range"]::-ms-thumb{
    border: 1px solid #bbb;
    height: 16px;
    width: 16px;
    margin-top: -8px;
    border-radius: 16px;
    background: #ccc;
    cursor: pointer;
    box-shadow: 0 0 3px #666;
    -webkit-appearance: none;
            appearance: none;
}
.mod-settings-item dd input[type="range"]:focus::-webkit-slider-runnable-track{
    background: #ccc;
}
.mod-settings-item dd input[type="range"]::-ms-track{
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: transparent;
    border-radius: 3px;
    border: none;
}
.mod-settings-item dd input[type="range"]::-ms-fill-lower {
    background: #ccc;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 3px #666;
}
.mod-settings-item dd input[type="range"]::-ms-fill-upper {
    background: #ccc;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 3px #666;
}
.mod-settings-item dd input[type="range"]:focus::-ms-fill-lower {
    background: #ccc;
}
.mod-settings-item dd input[type="range"]:focus::-ms-fill-upper {
    background: #ccc;
}
.mod-settings-item dd input[type="number"]::-webkit-outer-spin-button,
.mod-settings-item dd input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.mod-settings-item dd textarea{
    width: 100%;
    height: 100px;
    outline: none;
    border: 1px solid #ccc;
    padding: 3px;
    margin-top: 4px;
}
.mod-settings-item dd label.range{
    display: inline-block;
    width: 100%;
    height: .48rem;
}
.mod-settings-item dd label.range input[type="range"]{
    width: 75%;
    float: left;
    margin-top: 16px;
}
.mod-settings-item dd label.range input[type="number"]{
    width: 20%;
    float: right;
}
.mod-settings-item dd label.chooser{
    display: inline-block;
    width: 100%;
    height: .52rem;
    border: 1px solid #ccc;
    padding-left:3px;
}
.mod-settings-item dd label.chooser input{
    width: 70%;
    float: left;
    margin: 0;
    padding: 0;
    border: none;
}
.mod-settings-item dd label.chooser span{
    display: inline-block;
    width: 30%;
    height: 100%;
    text-align: center;
    line-height: .52rem;
    background-color: #0CA735;
    color: #fff;
    float: right;
    cursor: pointer;
    font-size: .28rem;
}
.mod-settings-item dd label.chooser span:active{
    background-color: #0FC33F;
    color: #e6e6e6;
}
.mod-settings-item dd label.select{
    display: inline-block;
    width: 100%;
    height: .48rem;
    border: 1px solid #ccc;
    position: relative;
    padding: 3px; 
}
.mod-settings-item dd select{
    outline: none;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
            appearance: none;
    border: none;
    border-radius: 0;
    background-color: transparent;  
}
.mod-settings-item dd label.select:after{
    content: "\f0dc";
    position: absolute;
    right: 7px;
    top: 7px;
    color: #A0A0A0;
}
.mod-settings-item dd input.wp75,
.mod-settings-item dd textarea.wp75,
.mod-settings-item dd label.select.wp75,
.mod-settings-item dd label.range.wp75,
.mod-settings-item dd label.chooser.wp75{
    width: 75%;
}
.mod-settings-item dd input.wp50,
.mod-settings-item dd textarea.wp50,
.mod-settings-item dd label.select.wp50,
.mod-settings-item dd label.range.wp50,
.mod-settings-item dd label.chooser.wp50{
    width: 50%;
}
.mod-settings-item dd input.wp30,
.mod-settings-item dd textarea.wp30,
.mod-settings-item dd label.select.wp30,
.mod-settings-item dd label.range.wp30,
.mod-settings-item dd label.chooser.wp30{
    width: 30%;
}
.mod-settings-item dd input.wp25,
.mod-settings-item dd textarea.wp25,
.mod-settings-item dd label.select.wp25,
.mod-settings-item dd label.range.wp25,
.mod-settings-item dd label.chooser.wp25{
    width: 25%;
}
.mod-settings-item dd input.wp20,
.mod-settings-item dd textarea.wp20,
.mod-settings-item dd label.select.wp20,
.mod-settings-item dd label.range.wp20,
.mod-settings-item dd label.chooser.wp20{
    width: 20%;
}
.mod-settings-item dd input.wp15,
.mod-settings-item dd textarea.wp15,
.mod-settings-item dd label.select.wp15,
.mod-settings-item dd label.range.wp15,
.mod-settings-item dd label.chooser.wp15{
    width: 15%;
}
.mod-settings-item dd input.wp10,
.mod-settings-item dd textarea.wp10,
.mod-settings-item dd label.select.wp10,
.mod-settings-item dd label.range.wp10,
.mod-settings-item dd label.chooser.wp10{
    width: 10%;
}
.mod-settings-item dd ins,
.mod-settings-item dd ins.info{
    display: block;
    color: #ccc;
    background: transparent;
    font-weight: normal;
    margin: 5px 0;
}
.mod-settings-item dd ins.error{
    color: #FF1B1B;
}
.mod-settings-item dd ins.question{
    color: #3C85FF;
}
.mod-settings-item dd ins.alarm{
    color: #FF8D21;
}
.mod-settings-item dd ins.right{
    color: #00C102;
}
.mod-settings-item dd ins.fa:before{
    margin-right: 5px;
}
.mod-settings-footer{
    margin-bottom: 20px;
}

/*风格重置*/
.mod-settings-group.none-caption .mod-settings-caption{
    display: none;
}
.mod-settings-item dd.item2 > *{
    display: inline-block;
    width: 50%;
}
.mod-settings-item dd.item3 > *{
    display: inline-block;
    width: 33.33%;
}
.mod-settings-item dd.item4 > *{
    display: inline-block;
    width: 25%;
}
.mod-settings-item dd.item5 > *{
    display: inline-block;
    width: 20%;
}
.mod-settings-items.fold{
    display: none;
}
.mod-settings-items.none-label .mod-settings-item dt{
    display: none;
}
.mod-settings-items.none-label .mod-settings-item dd{
    width: 100%;
}
.mod-settings-items.vertical-label .mod-settings-item dt{
    width: 100%;
}
.mod-settings-items.vertical-label .mod-settings-item dd{
    width: 100%;
}
