/**
 * swiper plugin#draw
 * @file swiper.draw.css
 */
.mod-swiper.draw .mod-swiper-item{
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.mod-swiper.draw.x .mod-swiper-item.maybe.after{
    -webkit-transform: translate(100%, 0) translateZ(0);
            transform: translate(100%, 0) translateZ(0);
}
.mod-swiper.draw.x .mod-swiper-item.maybe.before{
    -webkit-transform: translate(-100%, 0) translateZ(0);
            transform: translate(-100%, 0) translateZ(0);
}
.mod-swiper.draw.y .mod-swiper-item.maybe.after{
    -webkit-transform: translate(0, 100%) translateZ(0);
            transform: translate(0, 100%) translateZ(0);
}
.mod-swiper.draw.y .mod-swiper-item.maybe.before{
    -webkit-transform: translate(0, -100%) translateZ(0);
            transform: translate(0, -100%) translateZ(0);
}

.mod-swiper.draw.x.goto-after .mod-swiper-item.current,
.mod-swiper.draw.x.goto-before .mod-swiper-item.current,
.mod-swiper.draw.y.goto-after .mod-swiper-item.current,
.mod-swiper.draw.y.goto-before .mod-swiper-item.current{
    -webkit-animation-name: swiper-draw-exit;
       -moz-animation-name: swiper-draw-exit;
            animation-name: swiper-draw-exit;
}

.mod-swiper.draw.x.goto-after .mod-swiper-item.after{
    -webkit-animation-name: swiper-draw-x-after-enter;
       -moz-animation-name: swiper-draw-x-after-enter;
            animation-name: swiper-draw-x-after-enter;
}
@-webkit-keyframes swiper-draw-exit{
    0% {
        opacity: 1;
        -webkit-transform: translate(0, 0) translateZ(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, 0) translateZ(0);
    }
}
@-moz-keyframes swiper-draw-exit{
    0% {
        opacity: 1;
        -moz-transform: translate(0, 0) translateZ(0);
    }
    100% {
        opacity: 0;
        -moz-transform: translate(0, 0) translateZ(0);
    }
}
@keyframes swiper-draw-exit{
    0% {
        opacity: 1;
        transform: translate(0, 0) translateZ(0);
    }
    100% {
        opacity: 0;
        transform: translate(0, 0) translateZ(0);
    }
}
@-webkit-keyframes swiper-draw-x-after-enter{
    0% {
        -webkit-transform: translate(100%, 0) translateZ(0);
    }
    100% {
        -webkit-transform: translate(0, 0) translateZ(0);
    }
}
@-moz-keyframes swiper-draw-x-after-enter{
    0% {
        -moz-transform: translate(100%, 0) translateZ(0);
    }
    100% {
        -moz-transform: translate(0, 0) translateZ(0);
    }
}
@keyframes swiper-draw-x-after-enter{
    0% {
        transform: translate(100%, 0) translateZ(0);
    }
    100% {
        transform: translate(0, 0) translateZ(0);
    }
}

.mod-swiper.draw.x.goto-before .mod-swiper-item.before{
    -webkit-animation-name: swiper-draw-x-before-enter;
       -moz-animation-name: swiper-draw-x-before-enter;
            animation-name: swiper-draw-x-before-enter;
}

@-webkit-keyframes swiper-draw-x-before-enter{
    0% {
        -webkit-transform: translate(-100%, 0) translateZ(0);
    }
    100% {
        -webkit-transform: translate(0, 0) translateZ(0);
    }
}
@-moz-keyframes swiper-draw-x-before-enter{
    0% {
        -moz-transform: translate(-100%, 0) translateZ(0);
    }
    100% {
        -moz-transform: translate(0, 0) translateZ(0);
    }
}
@keyframes swiper-draw-x-before-enter{
    0% {
        transform: translate(-100%, 0) translateZ(0);
    }
    100% {
        transform: translate(0, 0) translateZ(0);
    }
}


.mod-swiper.draw.y.goto-after .mod-swiper-item.after{
    -webkit-animation-name: swiper-draw-y-after-enter;
       -moz-animation-name: swiper-draw-y-after-enter;
            animation-name: swiper-draw-y-after-enter;
}
@-webkit-keyframes swiper-draw-y-after-enter{
    0% {
        -webkit-transform: translate(0, 100%) translateZ(0);
    }
    100% {
        -webkit-transform: translate(0, 0) translateZ(0);
    }
}
@-moz-keyframes swiper-draw-y-after-enter{
    0% {
        -moz-transform: translate(0, 100%) translateZ(0);
    }
    100% {
        -moz-transform: translate(0, 0) translateZ(0);
    }
}
@keyframes swiper-draw-y-after-enter{
    0% {
        transform: translate(0, 100%) translateZ(0);
    }
    100% {
        transform: translate(0, 0) translateZ(0);
    }
}

.mod-swiper.draw.y.goto-before .mod-swiper-item.before{
    -webkit-animation-name: swiper-draw-y-before-enter;
       -moz-animation-name: swiper-draw-y-before-enter;
            animation-name: swiper-draw-y-before-enter;
}
@-webkit-keyframes swiper-draw-y-before-enter{
    0% {
        -webkit-transform: translate(0, -100%) translateZ(0);
    }
    100% {
        -webkit-transform: translate(0, 0) translateZ(0);
    }
}
@-moz-keyframes swiper-draw-y-before-enter{
    0% {
        -moz-transform: translate(0, -100%) translateZ(0);
    }
    100% {
        -moz-transform: translate(0, 0) translateZ(0);
    }
}
@keyframes swiper-draw-y-before-enter{
    0% {
        transform: translate(0, -100%) translateZ(0);
    }
    100% {
        transform: translate(0, 0) translateZ(0);
    }
}
