/**
 * swiper plugin#cube
 * @file swiper.cube.css
 */
.mod-swiper.cube{
    -webkit-perspective: 1000px;
       -moz-perspective: 1000px;
            perspective: 1000px;
}
.mod-swiper.cube .mod-swiper-body{
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
    overflow: inherit;
}
.mod-swiper.cube .mod-swiper-item{
    -webkit-backface-visibility: inherit;
       -moz-backface-visibility: inherit;
            backface-visibility: inherit;
}
.mod-swiper.cube.goto-after .mod-swiper-body,
.mod-swiper.cube.goto-before .mod-swiper-body{
    /*animation: name duration timing-function delay iteration-count direction;*/
    /*running | paused*/
    -webkit-animation-play-state: running;
       -moz-animation-play-state: running;
            animation-play-state: running;
    /*none | forwards | backwards | both*/        
    /*-webkit-animation-fill-mode: both; 
       -moz-animation-fill-mode: both;
            animation-fill-mode: both; */
    -webkit-animation-duration: 1s;
       -moz-animation-duration: 1s;
            animation-duration: 1s; 
    -webkit-animation-timing-function: ease;
       -moz-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-delay: 0s;
       -moz-animation-delay: 0s;
            animation-delay: 0s; 
    -webkit-animation-iteration-count: 1;
       -moz-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-direction: normal;
       -moz-animation-direction: normal;
            animation-direction: normal;
}
.mod-swiper.cube.x.goto-after .mod-swiper-body{
    -webkit-animation-name: swiper-cube-x-after;
       -moz-animation-name: swiper-cube-x-after;
            animation-name: swiper-cube-x-after;
}
@-webkit-keyframes swiper-cube-x-after{
    0% {
        -webkit-transform: rotateY(0deg);
    }
    100% {
        -webkit-transform: rotateY(-90deg);
    }
}
@-moz-keyframes swiper-cube-x-after{
    0% {
        -moz-transform: rotateY(0deg);
    }
    100% {
        -moz-transform: rotateY(-90deg);
    }
}
@keyframes swiper-cube-x-after{
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(-90deg);
    }
}
.mod-swiper.cube.x.goto-before .mod-swiper-body{
    -webkit-animation-name: swiper-cube-x-before;
       -moz-animation-name: swiper-cube-x-before;
            animation-name: swiper-cube-x-before;
}
@-webkit-keyframes swiper-cube-x-before{
    0% {
        -webkit-transform: rotateY(0deg);
    }
    100% {
        -webkit-transform: rotateY(90deg);
    }
}
@-moz-keyframes swiper-cube-x-before{
    0% {
        -moz-transform: rotateY(0deg);
    }
    100% {
        -moz-transform: rotateY(90deg);
    }
}
@keyframes swiper-cube-x-before{
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(90deg);
    }
}
.mod-swiper.cube.y.goto-after .mod-swiper-body{
    -webkit-animation-name: swiper-cube-y-after;
       -moz-animation-name: swiper-cube-y-after;
            animation-name: swiper-cube-y-after;
}
@-webkit-keyframes swiper-cube-y-after{
    0% {
        -webkit-transform: rotateX(0deg);
    }
    100% {
        -webkit-transform: rotateX(90deg);
    }
}
@-moz-keyframes swiper-cube-y-after{
    0% {
        -moz-transform: rotateX(0deg);
    }
    100% {
        -moz-transform: rotateX(90deg);
    }
}
@keyframes swiper-cube-y-after{
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(90deg);
    }
}
.mod-swiper.cube.y.goto-before .mod-swiper-body{
    -webkit-animation-name: swiper-cube-y-before;
       -moz-animation-name: swiper-cube-y-before;
            animation-name: swiper-cube-y-before;
}
@-webkit-keyframes swiper-cube-y-before{
    0% {
        -webkit-transform: rotateX(0deg);
    }
    100% {
        -webkit-transform: rotateX(-90deg);
    }
}
@-moz-keyframes swiper-cube-y-before{
    0% {
        -moz-transform: rotateX(0deg);
    }
    100% {
        -moz-transform: rotateX(-90deg);
    }
}
@keyframes swiper-cube-y-before{
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(-90deg);
    }
}
/*
.mod-swiper .mod-swiper-item.current{
    background-color: rgba(255, 0, 0, 0.5);
}

.mod-swiper .mod-swiper-item.maybe.after{   
    background-color: rgba(0, 128, 0, 0.5);
}
.mod-swiper .mod-swiper-item.maybe.before{ 
    background-color: rgba(0, 0, 255, 0.5);
}*/

