/**
 * 日期控件弹层
 * loading > datetimepicker > imageviewer > layerbox > actionsheet > logicbox > framebox
 * @file logicbox.css
 */
.mod-dtpicker-frame{
	position: absolute;
	z-index: 59900;
	overflow: hidden;
	border: 1px solid #e5e5e5;
	border-bottom: 0;
	border-bottom: none;
	background-color: #fff;
	height: 2.13rem;
}
.mod-dtpicker-frame [data-action-click]{
	cursor: pointer;
}

.mod-dtpicker-datebox{
	width: 2.16rem;
	height: 2.12rem;
	display: block;
	position: relative;
}
.mod-dtpicker-date-choosen{
	border-bottom: 1px solid #e5e5e5;
	height: .36rem;
	font-size: .20rem;
}
.mod-dtpicker-date-choosen .prev,
.mod-dtpicker-date-choosen .next{
	display: block;
	width: .36rem;
	height: .36rem;
	line-height: .36rem;
	text-align: center;
}
.mod-dtpicker-date-choosen .prev:before{
	content: "\e634";
}
.mod-dtpicker-date-choosen .next:before{
	content: "\e60b";
}
.mod-dtpicker-date-choosen .separator{
	font-style: normal;
}
.mod-dtpicker-weeks{
	background-color: #f8f8f8;
}
.mod-dtpicker-weeks,
.mod-dtpicker-date-panel{
	list-style: none;
	width: 100%;
}
.mod-dtpicker-weeks > li,
.mod-dtpicker-date-panel > li{
	width: .30rem;
	height: .24rem;
	line-height: .24rem;
	font-size: .14rem;
	text-align: center;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
.mod-dtpicker-weeks > li:nth-child(7n),
.mod-dtpicker-date-panel > li:nth-child(7n){
	border-right: 0;
}
.mod-dtpicker-date-panel > li.cur{
	background-color: #d6ffd8;
}
.mod-dtpicker-date-panel > li.today{
	background-color: #d7e6ff;

}
.mod-dtpicker-date-panel > li.gray{
	color: #a9a9a9;
}
.mod-dtpicker-date-panel > li.disabled{
	background-color: #fcfcfc;
	color: #d6d6d6;
	cursor: not-allowed!important;
}
.mod-dtpicker-year-month{
	position: absolute;
	left: 0;
	top: .36rem;
	width: 100%;
	height: 100%;
	background-color: #fbfbfb;
	border-top: 1px solid #e5e5e5;
}
.mod-dtpicker-years{
	height: .42rem;
}
.mod-dtpicker-years > strong{
	font-size: .36rem;
	font-weight: normal;
}
.mod-dtpicker-years .prev,
.mod-dtpicker-years .next{
	font-size: .36rem;
}
.mod-dtpicker-years .prev:before{
	content: "\e634";
}
.mod-dtpicker-years .next:before{
	content: "\e60b";
}
.mod-dtpicker-months{
	border-top: 1px solid #e5e5e5;
}
.mod-dtpicker-months em{
	display: block;
	width: .71333rem;
	height: .32rem;
	line-height: .32rem;
	font-style: normal;
	text-align: center;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	font-size: .14rem;
}
.mod-dtpicker-months em:nth-child(3n){
	border-right: 0;
	border-right: none;
}
.mod-dtpicker-months em.on{
	background-color: #d6ffd8;
}

.mod-dtpicker-timebox{
	border-left: 1px solid #e5e5e5;
	height: 2.12rem;
}
.mod-dtpicker-time-choosen{
	border-bottom: 1px solid #e5e5e5;
	height: .36rem;
	font-size: .16rem;
	padding: 0 .06rem;
}
.mod-dtpicker-time-choosen .separator{
	font-style: normal;
	margin: 0 .08rem;
}
.mod-dtpicker-time-panel{
	position: relative;
}
.mod-dtpicker-time-selected{
	position: absolute;
	width: 100%;
	top: .74rem;
	left: 0;
	height: .24rem;
	border-top: 1px solid #d6ffd8;
	border-bottom: 1px solid #d6ffd8;
	z-index: 1;
}
.mod-dtpicker-time-options{
	width: .42rem;
	position: relative;
	z-index: 3;
}
.mod-dtpicker-time-options.fixed-time{
	display: none;
	width: .86rem;
}
.mod-dtpicker-time-panel.fixed .separator.ms,
.mod-dtpicker-time-panel.fixed .select-second,
.mod-dtpicker-time-panel.fixed .mod-dtpicker-time-selected{
	display: none;
}
.mod-dtpicker-time-options .prev{
	border-bottom: 1px solid #e5e5e5;
}
.mod-dtpicker-time-options .next{
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
.mod-dtpicker-time-options .prev,
.mod-dtpicker-time-options .next{
	text-align: center;
	width: 100%;
	height: .24rem;
	line-height: .24rem;
	font-size: .20rem;
}
.mod-dtpicker-time-options .prev:before{
	content: "\e635";
}
.mod-dtpicker-time-options .next:before{
	content: "\e62f";
}
.mod-dtpicker-time-values{
	height: 1.24rem;
	overflow: hidden;
	overflow-y: auto;
}
.mod-dtpicker-time-values ul{
	list-style: none;
	width: 100%;
}
.mod-dtpicker-time-values ul li{
	width: 100%;
	height: .24rem;
	line-height: .24rem;
	text-align: center;
	border-bottom: 1px solid transparent;
	font-size: .14rem;
}

.mod-dtpicker-frame.mode.datetime{

}

.mod-dtpicker-frame.mode.date .mod-dtpicker-timebox{
	display: none;
}

.mod-dtpicker-frame.mode.time .mod-dtpicker-datebox{
	display: none;
}
.mod-dtpicker-frame.mode.time .mod-dtpicker-timebox{
	border-left: 0;
	border-left: none;
}

.mod-dtpicker-frame.mode.year-month .mod-dtpicker-year-month{
	display: block;
}
.mod-dtpicker-frame.mode.year-month .mod-dtpicker-timebox{
	display: none;
}

.mod-dtpicker-frame.mode.hour-minute .mod-dtpicker-datebox{
	display: none;
}
.mod-dtpicker-frame.mode.hour-minute .mod-dtpicker-timebox{
	border-left: 0;
	border-left: none;
}
.mod-dtpicker-frame.mode.hour-minute .separator.ms,
.mod-dtpicker-frame.mode.hour-minute .select-second,
.mod-dtpicker-frame.mode.hour-minute .mod-dtpicker-time-options.seconds{
	display: none;
}

.mod-dtpicker-frame.mode.short-datetime .separator.ms,
.mod-dtpicker-frame.mode.short-datetime .select-second,
.mod-dtpicker-frame.mode.short-datetime .mod-dtpicker-time-options.seconds{
	display: none;
}

.mod-dtpicker-frame.mode.fixed-datetime .separator.ms,
.mod-dtpicker-frame.mode.fixed-datetime .select-second,
.mod-dtpicker-frame.mode.fixed-datetime .mod-dtpicker-time-options{
	display: none;
}
.mod-dtpicker-frame.mode.fixed-datetime .mod-dtpicker-time-options.fixed-time{
	display: block;
}

.mod-dtpicker-frame.mode.fixed-time .mod-dtpicker-datebox,
.mod-dtpicker-frame.mode.fixed-time .separator.ms,
.mod-dtpicker-frame.mode.fixed-time .select-second,
.mod-dtpicker-frame.mode.fixed-time .mod-dtpicker-time-options{
	display: none;
}
.mod-dtpicker-frame.mode.fixed-time .mod-dtpicker-timebox{
	border-left: 0;
	border-left: none;
}
.mod-dtpicker-frame.mode.fixed-time .mod-dtpicker-time-options.fixed-time{
	display: block;
}








