/**
 * 窗口弹层
 * loading > datetimepicker > layerbox > actionsheet > logicbox > framebox
 * @file logicbox.css
 */
.mod-framebox-mask{
	width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 59994;
}

.mod-framebox-box{
	position: relative;
	width: 5.60rem;
	height: 4.00rem;
	border-radius: 5px;
	background-color: #fff;
	overflow: hidden;
}

.mod-framebox-box > del{
	position: absolute;
	right: 8px;
	top: 8px;
	font-size: .32rem;
	display: inline-block;
	vertical-align: middle;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	cursor: pointer;
	z-index: 10;
}
.mod-framebox-box > del:before{
	content: "\e619";
}
.mod-framebox-box > del:hover{
	color: #B30000;
}

.mod-framebox-titlebar{
	display: block;
	width: 100%;
	height: .48rem;
	line-height: .48rem;
	font-size: .36rem;
	background-color: #ccc;
	padding: 0 5px;
}
.mod-framebox-titlebar > i,
.mod-framebox-titlebar > span{
	font-style: normal;
	font-weight: normal;
}

.mod-framebox-content{
	font-size: .28rem;
	line-height: 1.35;
	width: 100%;
	height: 3.16rem;
	overflow: auto;
}
.mod-framebox-statusbar{
	padding: 0 5px;
	width: 100%;
	height: .36rem;
	line-height: .36rem;
	font-size: .28rem;
	background-color: #ccc;
}



