/**
 * 信息弹层
 * loading > datetimepicker > layerbox > actionsheet > logicbox > framebox
 * @file layerbox.css
 */

.mod-layerbox-mask{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 59998;
}
.mod-layerbox-box{
    width: 85%;
    max-width: 500px;
    padding: 8px;
    background-color: #fff;
    border-radius: 7px;
}
.mod-layerbox-content{
    font-size: .32rem;
    text-align: center;
    color: #848484;
}
.mod-layerbox-content:before{
    font: normal normal normal 14px/1 iconfont;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e63a";
    display: block;
    font-size: .72rem;
    margin-bottom: .18rem;
    color: #848484;
}
.mod-layerbox-buttons{
    margin-top: .14rem;
}
.mod-layerbox-buttons .button{
    width: 100%;
    margin-right: .06rem;
}
.mod-layerbox-buttons .button:last-child{
    background-color: #0CA735;
    color: #fff;
    margin-right: 0;
}
.mod-layerbox-buttons .button:last-child:active{
    background-color: #0FC33F;
    color: #e6e6e6;
}
.mod-layerbox-mask.confirm .mod-layerbox-content:before{
    content: "\e63f";
    color: #3C85FF;
}
.mod-layerbox-mask.alarm .mod-layerbox-content:before{
    content: "\e626";
    color: #FF8D21;
}
.mod-layerbox-mask.error .mod-layerbox-content:before{
    content: "\e63b";
    color: #FF1B1B;
}
.mod-layerbox-mask.right .mod-layerbox-content:before{
    content: "\e623";
    color: #00C102;
}
