/**
 * 信息弹层
 * loading > datetimepicker > layerbox > actionsheet > logicbox > framebox
 * @file layerbox.css
 */

.mod-layerbox-mask{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 59998;
}
.mod-layerbox-box{
    width: 85%;
    max-width: 500px;
    background-color: #fff;
    border-radius: .05rem;
    overflow: hidden;
}
.mod-layerbox-content{
    font-size: .32rem;
    text-align: center;
    color: #848484;
}
.mod-layerbox-content:before{
    font-family: iconfont;
    font-size: .72rem;
    content: "\e63a";
    display: block;
    margin-bottom: .18rem;
    color: #848484;
    margin-top: .24rem;
}
.mod-layerbox-buttons{
    margin-top: .30rem;
}
.mod-layerbox-buttons .button{
    width: 100%;
    border-radius: 0;
    font-size: .16rem;
    border-top: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    background-color: #fff;
    color: #949494;
    height: .42rem;
}
.mod-layerbox-buttons .button:last-child{
    color: #0CA735;
    border-right: 0;
    border-right: none;
}
.mod-layerbox-buttons .button:last-child:active{
    color: #0FC33F;
}
.mod-layerbox-mask.confirm .mod-layerbox-content:before{
    content: "\e63f";
    color: #3C85FF;
}
.mod-layerbox-mask.alarm .mod-layerbox-content:before{
    content: "\e626";
    color: #FF8D21;
}
.mod-layerbox-mask.error .mod-layerbox-content:before{
    content: "\e63b";
    color: #FF1B1B;
}
.mod-layerbox-mask.right .mod-layerbox-content:before{
    content: "\e623";
    color: #00C102;
}
