/**
 * Loading模块
 * loading > datetimepicker > layerbox > actionsheet > logicbox > framebox
 * @file loading.css
 */

.mod-loading-mask{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 60000;
    background-color: rgba(0, 0, 0, 0.75);
}
.mod-loading-box{
    width: 60%;
    max-width: 420px;
    border-radius: 7px;
    background-color: #000;
    color: #fff;
    font-size: .30rem;
    padding: 8px;
}
.mod-loading-ani{}
.mod-loading-ani svg{
    fill: #fff;
}
.mod-loading-text{
    text-align: center;
    margin-top: 12px;
}

.mod-loading-mask.embed{
    position: relative;
}

.mod-loading-mask.full .mod-loading-box{
    min-width: 100%;
    border-radius: 0;
}

.mod-loading-mask.white{
    background-color: rgba(255, 255, 255, 0.75);
}

.mod-loading-mask.white .mod-loading-box{
    background-color: #fff;
    color: #000;
}
.mod-loading-mask.white svg{
    fill: #000;
}

