/**
 * 逻辑弹层
 * loading(60000) > toast(59990) > datetimepicker(59900) >  imageviewer(59800) > layerbox(59700) > actionsheet(59500/59600) > logicbox(59400) > framebox(59300)
 * @file logicbox.css
 */
.mod-logicbox-mask{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 59400;
}

.mod-logicbox-box{
    width: 85%;
    max-width: 860px;
    min-height: 42px;
    padding: 8px;
    background-color: #fff;
    border-radius: 7px;
    font-size: 14px;
}