/**
 * swiper plugin#fade
 * @file swiper.fade.css
 */
.mod-swiper.fade .mod-swiper-item{
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.mod-swiper.fade .mod-swiper-item.maybe{
    opacity: 0;
    -webkit-transform: translate(0, 0) translateZ(0);
            transform: translate(0, 0) translateZ(0);
}

.mod-swiper.fade.goto-after .mod-swiper-item.current,
.mod-swiper.fade.goto-before .mod-swiper-item.current{
    -webkit-animation-name: swiper-fade-exit;
       -moz-animation-name: swiper-fade-exit;
            animation-name: swiper-fade-exit;
}
.mod-swiper.fade.goto-after .mod-swiper-item.maybe.after,
.mod-swiper.fade.goto-before .mod-swiper-item.maybe.before{
    -webkit-animation-name: swiper-fade-enter;
       -moz-animation-name: swiper-fade-enter;
            animation-name: swiper-fade-enter;
}

@-webkit-keyframes swiper-fade-exit{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes swiper-fade-exit{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes swiper-fade-exit{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes swiper-fade-enter{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes swiper-fade-enter{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes swiper-fade-enter{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

