/**
 * Tooltips模块
 * loading(60000) > toast(59990) > tooltips(59980) > datetimepicker(59900) >  imageviewer(59800) > layerbox(59700) > actionsheet(59500/59600) > logicbox(59400) > framebox(59300)
 * @file tooltips.css
 */
.mod-tooltips{
	position: fixed;
	z-index: 59980;
}

.mod-tooltips-triangle{
	position: absolute;
	z-index: 10;
	width: 10px;
	height: 10px;
	-webkit-transform: rotate(45deg);
	background-color: #fff;
}

.mod-tooltips.set-shadow,
.mod-tooltips.set-shadow .mod-tooltips-triangle{
	box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}

.mod-tooltips.stick-top .mod-tooltips-triangle{
	top: -5px;
	margin-left: -5px;
	left: 50%;
}

.mod-tooltips.stick-right .mod-tooltips-triangle{
	right: -5px;
	margin-top: -5px;
	top: 50%;
}

.mod-tooltips.stick-bottom .mod-tooltips-triangle{
	bottom: -5px;
	margin-left: -5px;
	left: 50%;
}

.mod-tooltips.stick-left .mod-tooltips-triangle{
	left: -5px;
	margin-top: -5px;
	top: 50%;
}
.mod-tooltips-body{
	position: relative;
	left: 0;
	top: 0;
	z-index: 20;
	background-color: #fff;
	width: 100%;
	height: 100%;
	min-height: 40px;
}





